*{
    box-sizing: border-box;
}
body, html{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 1;
}
#head{
    width: 100%;
    padding: 20px;
    color: white;
    background-color: rgb(34, 34, 34);
    font-size: xx-large;
    text-align: center;
}
.scroll-container{
    width: 100%;
    height: 10px;
    background-color: red;
    box-shadow: 2px 2px 2px 2px gray;
}
#scroll{
    width: 0%;
    height: 10px;
    background-color: aqua;
}
#bod{
    height: 2000px;
    width: 100%;
    display: flex;
    flex: row wrap;
}
#modal-background{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128,0.4);
    z-index: 1;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    visibility: hidden;
}
#modal-container{
    max-width: 500px;
}
@media screen and (max-width: 500px){
    #modal-container{
        min-width: 200px;
    }
}
#modal-header{
    background-color: red;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}
#modal-body{
    background-color: white;
    color: black;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#close{
    font-weight: bold;
    color: black;
    font-size: xx-large;
    float: right;
    padding: 5px;
    display: inline-block;
}
#btn{
    padding: 15px;
    font-size: xx-large;
    background-color: black;
    color: aqua;
    display: inline-block;
}
.btn:hover{
    box-shadow: 2px 2px 2px 2px rgb(128, 128, 128, 0.4);
    cursor: pointer;
}
.slider-container{
    width: 80%;
}
#slider{
    width: 100%;
    height: 10px;
    margin: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: black;
    outline: none;
    opacity: 0.6;
    transition: opacity .4s;
    -webkit-transition: .4s;
}
#slider:hover{
    opacity: 1.0;
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url('contrasticon.png');
    border: 2px solid red;
    cursor: pointer;
    border-radius: 50%;
}
#slider::-moz-range-thumb{
    width: 30px;
    height: 30px;
    background: url('contrasticon.png');
    border: 2px solid red;
    cursor: pointer;
    border-radius: 50%;
}
[class|='bgimg']{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.bgimg-1{
    background-image: url('images/Ibuku.jpg')
}
.bgimg-2{
    background-image: url('images/boxing.jpg')
}
@media only screen and (max-width: 600px){
    [class|='bgimg']{
        background-attachment: scroll;
    }
}
.someText{
    padding: 15px;
    font-size: large;
    background-color: black;
    color: white;
}